@use '/src/styles/variables' as *;

.wrapper {
  composes: pl-15 pr-15 pt-20 pb-20 from global;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: none;

  @media screen and (max-width: $screen-mobile) {
    composes: text text_type_main-large from global;
    display: block;
  }
}

.digit {
  composes: text text_type_digits-large from global;
  text-shadow:
    0 4px 32px rgb(51 51 255 / 50%),
    0 0 8px rgb(51 51 255 / 25%),
    0 0 16px rgb(51 51 255 / 25%);

  @media screen and (max-width: $screen-mobile) {
    color: #4c4cff;
  }
}

.digit-caption {
  composes: pt-8 text text_type_main-medium from global;
}

.icon {
  composes: m-15 from global;

  width: 120px;
  height: 120px;

  background-image: url('../../../images/done.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.status {
  composes: text text_type_main-small from global;
}

.status-caption {
  composes: text text_type_main-default text_color_inactive pt-2 from global;
}
