@use '/src/styles/variables' as *;

.wrapper {
  composes: custom-scroll pr-2 from global;

  overflow-y: scroll;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
  }

  &::-webkit-scrollbar-track {
    margin-top: $gap-9;
    margin-bottom: $gap-13;
  }
}

.card {
  composes: pb-4 from global;

  &:first-of-type {
    margin-top: $gap-9;
  }
}
