@use '/src/styles/variables' as *;

.forms {
  display: flex;
  flex-direction: column;
  gap: $gap-6;

  max-width: fit-content;
  padding-top: $gap-30;
}

.buttons {
  display: flex;
  gap: $gap-5;
  justify-content: flex-end;
  width: 100%;
}
