$screen-max: 1280px;
$screen-mobile: 1280px;
$screen-min: 320px;
$gap-2: calc(var(--offset-base-size, 4px) * 2);
$gap-4: calc(var(--offset-base-size, 4px) * 4);
$gap-5: calc(var(--offset-base-size, 4px) * 5);
$gap-6: calc(var(--offset-base-size, 4px) * 6);
$gap-8: calc(var(--offset-base-size, 4px) * 8);
$gap-10: calc(var(--offset-base-size, 4px) * 10);
$gap-13: calc(var(--offset-base-size, 4px) * 13);
$gap-15: calc(var(--offset-base-size, 4px) * 15);
$border-radius: 40px;
$border-modal: 1px solid var(--interface-modal-edge, rgb(76 76 255 / 20%));
$z-index-top: 10;
$z-index-mid: 5;
