$screen-max: 1280px;
$screen-mobile: 1280px;
$screen-min: 320px;
$gap-1: var(--offset-base-size, 4px);
$gap-2: calc($gap-1 * 2);
$gap-4: calc($gap-1 * 4);
$gap-5: calc($gap-1 * 5);
$gap-6: calc($gap-1 * 6);
$gap-8: calc($gap-1 * 8);
$gap-9: calc($gap-1 * 9);
$gap-10: calc($gap-1 * 10);
$gap-13: calc($gap-1 * 13);
$gap-15: calc($gap-1 * 15);
$gap-21: calc($gap-1 * 21);
$gap-30: calc($gap-1 * 30);
$gap-45: calc($gap-1 * 45);
$border-radius: 40px;
$border-modal: 1px solid var(--interface-modal-edge, rgb(76 76 255 / 20%));
$z-index-top: 15;
$z-index-mid: 10;
$color-accent: #801ab3;
