@use '/src/styles/variables' as *;

@property --round {
  inherits: false; /* or true depending on context */
  initial-value: 1;
  syntax: '<integer>';
}

.wrapper {
  composes: pl-4 pr-4 pt-25 from global;

  display: flex;
  flex-direction: column;
  gap: $gap-10;
  align-items: flex-end;

  box-sizing: border-box;
  max-height: calc(100lvh - 88px);

  @media screen and (max-width: $screen-mobile) {
    align-items: center;
    padding-top: 0;
    background: var(--interface-modal-bg, #1c1c21);
  }
}

.components {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: $gap-4;
  align-items: flex-end;

  &_inside {
    composes: custom-scroll pr-2 from global;

    scroll-snap-type: y mandatory;

    overflow-y: scroll;
    flex-grow: 1;

    // min-height: 272px;
    max-height: calc(100lvh - 88px - 252px - 196px);
    margin-right: -19px;
  }

  &_drop_prepare {
    background: radial-gradient(
      ellipse farthest-corner at center center,
      #801ab380 0%,
      #801ab300 70%
    );
  }

  &_drop_ready {
    background: radial-gradient(
      ellipse farthest-corner at center center,
      #801ab3 0%,
      #801ab300 70%
    );
  }

  @media screen and (max-width: $screen-mobile) {
    display: none;
  }
}

.part {
  min-width: 536px;
}

.component {
  scroll-snap-align: start;

  display: flex;
  gap: $gap-2;
  align-items: center;
  justify-content: stretch;

  width: 100%;
}

.info {
  display: flex;
  flex-shrink: 0;
  gap: $gap-10;
}

.price {
  composes: text text_type_digits-medium from global;

  display: flex;
  gap: $gap-2;
  align-items: center;

  margin-left: auto;
}
