@use '/src/styles/variables' as *;

.component {
  composes: component from '../../layout/burger-constructor/burger-constructor.module.scss';

  &:active {
    cursor: grab;
  }
}

.handle {
  cursor: grab;
}
