@use '/src/styles/variables' as *;

.wrapper {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: $gap-2;
  align-items: center;

  box-sizing: border-box;
  height: 208px;

  &:hover {
    cursor: grab;
    background: radial-gradient(
      ellipse farthest-corner at center center,
      #801ab340 0%,
      #801ab300 70%
    );
  }
}

.image {
  width: 240px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.price {
  composes: text text_type_digits-default from global;

  overflow: hidden;
  display: flex;
  gap: $gap-2;
  align-items: center;
  justify-content: center;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  composes: text text_type_main-default from global;
  text-align: center;
}
