@use '/src/styles/variables' as *;

.wrapper {
  composes: pl-5 pr-5 from global;
  display: flex;
  gap: $gap-15;
}

.nav {
  composes: pt-30 from global;
  max-width: 320px;
}

.link {
  composes: text text_type_main-medium from global;

  display: block;

  line-height: 64px;
  color: var(--text-inactive-color);
  text-decoration: none;

  transition: color 0.5s;

  &:hover {
    color: var(--text-primary-color);
  }
}

.active {
  pointer-events: none;
  color: var(--text-primary-color);
}

.tip {
  composes: pt-20 text text_type_main-default text_color_inactive from global;
  display: block;
  opacity: 0.4;
}

.outlet {
  flex-grow: 1;
  max-height: calc(100lvh - 88px);
}

.focus-order-wrapper {
  composes: pt-30 from global;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;

  & h2 {
    width: auto;
  }
}
