@use '/src/styles/variables' as *;

.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--interface-modal-bg, #1c1c21);
  box-shadow: 0 -100vw 0 100vw var(--interface-modal-bg, #1c1c21);
}

.navigation {
  display: flex;
  min-width: 100%;
}

.list {
  composes: pt-4 pb-4 from global;

  display: flex;
  gap: $gap-2;
  align-items: center;
  justify-content: flex-start;

  min-width: 100%;

  list-style: none;

  & li:last-of-type {
    margin-left: auto;
  }

  @media screen and (max-width: $screen-mobile) {
    display: none;
  }
}

.link {
  composes: text text_type_main-default pl-5 pr-5 pt-4 pb-4 from global;

  display: flex;
  gap: $gap-2;
  align-items: center;

  max-width: fit-content;
  height: 100%;

  color: var(--text-inactive-color);
  text-decoration: none;

  transition: color 0.5s;

  &:hover {
    color: var(--text-primary-color);
  }
}

.active {
  // pointer-events: none;
  color: var(--text-primary-color);
}

.logo {
  position: absolute;
  display: block;
  padding-top: 6px;

  @media screen and (max-width: $screen-mobile) {
    left: $gap-4;

    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;

    width: 45px;
  }
}

.menu {
  display: none;
  margin-left: auto;
  padding-right: $gap-4;

  @media screen and (max-width: $screen-mobile) {
    display: block;
  }
}
